<center> <h1>Universidad Nacional de San Agustín de Arequipa</h1> </center> 
<center> <h1>Escuela Profesional de Ingeniería de Telecomunicaciones</h1> </center> 

<center> <h1> </h1> </center> 

<center><img src="https://user-images.githubusercontent.com/19308295/115939517-f1c6fe80-a463-11eb-989c-812ab4942586.png" width="380" height="4200"></center>

<center> <h2>Ingeniero Renzo Bolivar - Docente DAIE</h2> </center>

<center> <h1>Curso : Computación 2</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

<center> <h1>MACHINE LEARNING</h1> </center> 
<center> <h1>ÁRBOL DE DECISIÓN</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

# Descripción:

<div class="alert alert-info">

En este notebook se utilizara el modelo de clasificación **Árbol de Decisión** para generar una plantilla para **Proyectos y/o Portafolio** en **Machine Learning** como un tipo básico de  **Aprendizaje Supervizado**.
    
</div>

# Objetivos:

1. Crear un Proyecto y/o Portafolio en **Machine Learning**
2. Modelo de Clasificación **Árbol de Decisión**.
3. Modelo para u tipo **Aprendizaje Supervisado** con librerías en **sklearn**.

algunas funciones importantes de pandas.


[1. Árboles de Decisión para Clasificación](#1.-Árboles-de-Decisión-para-Clasificación)<br>

[BIBLIOGRAFÍA](#BIBLIOGRAFÍA)<br>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

<img src="https://user-images.githubusercontent.com/19308295/124402675-6c7b8800-dcf7-11eb-9d38-6af2187f0c15.png" width="800" height="100" />

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****1. Árboles de Decisión para Clasificación****<tfont>

<div class="alert alert-info">

Un árbol tiene muchas analogías en la vida real, y resulta que ha influido en una amplia área del aprendizaje automático o Machine Learning. Los árboles de decisión son una técnica de aprendizaje supervisado que predice valores de respuestas mediante el aprendizaje de reglas de decisión derivadas de características. Se pueden utilizar tanto en una **regresión como en un contexto de clasificación**.



</div>

<img src="https://user-images.githubusercontent.com/19308295/125208763-2758d800-e25a-11eb-87cf-6ca5db85c4ff.png" width="600" height="100" />

<div class="alert alert-info">

Los árboles de decisión funcionan al dividir el espacio de la característica en varias **regiones rectangulares simples**, divididas por **divisiones paralelas de ejes**. Para obtener una predicción para una observación particular, se utiliza la media o el modo de las respuestas de las observaciones de entrenamiento, dentro de la partición a la que pertenece la nueva observación.

</div>

## Librerías a utilizar

In [8]:
#Se importan la librerias a utilizar
import numpy as np
import pandas as pd

## Importación de datos

El proyecto que vamos a desarrollar es de Conjunto de datos de plantas de iris, que se encuentra disponible en la librería scikit learn. 

Los datos esta almacenados en archivo `iris.csv` que se encuentra en el directorio `data`

In [9]:
#Importamos los datos de la misma librería de scikit-learn
dataset=pd.read_csv('data/StudentsPerformance.csv')

In [10]:
dataset.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [11]:
dataset.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

`ceros=setosa, unos=versicolor y dos=virginica`

## Exploración de datos

### Tamaño Dataframe

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [13]:
dataset.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [14]:
dataset.shape

(1000, 8)

In [15]:
#Verifico la cantidad de datos que hay en los dataset
print('cantidad de datos:')
dataset.count()

cantidad de datos:

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

In [16]:
#Verifico los valores nulos
dataset.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [17]:
#Nombres de columnas
dataset.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [18]:
dataset.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

## Preparación de los datos para Árboles de Decisión Clasificación

Para este ejemplo vamos a implementar un clasificador Árboles de Decisión Clasificación, para este algoritmo se requiere todas las variables independientes, para nuestro caso serán las variables **Caracteristica**.

Ahora vamos a proceder a definir las variables de “X” y “y” que vamos emplear en nuestro modelo.

Para “X” vamos a utilizar todas las variables de caracteristicas, por lo que la igualamos a las primeras 4 columnas.

In [19]:
dataset.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [91]:
import seaborn as sns
path=("data/StudentsPerformance.csv")
df=pd.read_csv(path)

In [98]:
dataset_cols = df.select_dtypes(include='object')

In [100]:
dataset_cols

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
1,female,group C,some college,standard,completed
2,female,group B,master's degree,standard,none
3,male,group A,associate's degree,free/reduced,none
4,male,group C,some college,standard,none
...,...,...,...,...,...
995,female,group E,master's degree,standard,completed
996,male,group C,high school,free/reduced,none
997,female,group C,high school,free/reduced,completed
998,female,group D,some college,standard,completed
999,female,group D,some college,free/reduced,none

In [101]:
dataset_num = pd.get_dummies(df, drop_first=True)

In [102]:
dataset_num

,math score,reading score,writing score,gender_male,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_standard,test preparation course_none
0,72,72,74,False,True,False,False,False,True,False,False,False,False,True,True
1,69,90,88,False,False,True,False,False,False,False,False,True,False,True,False
2,90,95,93,False,True,False,False,False,False,False,True,False,False,True,True
3,47,57,44,True,False,False,False,False,False,False,False,False,False,False,True
4,76,78,75,True,False,True,False,False,False,False,False,True,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,88,99,95,False,False,False,False,True,False,False,True,False,False,True,False
996,62,55,55,True,False,True,False,False,False,True,False,False,False,False,True
997,59,71,65,False,False,True,False,False,False,True,False,False,False,False,False
998,68,78,77,False,False,False,True,False,False,False,False,True,False,True,False
999,77,86,86,False,False,False,True,False,False,False,False,True,False,False,True

In [103]:
#Seleccionamos todas las columnas de carasteristicas
X=dataset_num[dataset_num.columns[:-1]].to_numpy()

In [104]:
print(X)

[[72 72 74 ... False False True]
 [69 90 88 ... True False True]
 [90 95 93 ... False False True]
 ...
 [59 71 65 ... False False False]
 [68 78 77 ... True False True]
 [77 86 86 ... True False False]]

Por su parte, “y” será igual a los datos correspondientes a “etiquetas” por lo que igualamos esta variable a la ultima columna.

In [121]:
#Defino los datos correspondientes a las etiquetas
y=dataset_num[dataset_num.columns[-1]].to_numpy()

In [122]:
print(y)

[ True False  True  True  True  True False  True False  True  True  True
  True False  True  True  True  True False  True  True False  True  True
 False  True  True  True  True  True  True  True  True  True  True False
  True  True False  True  True  True  True False  True  True False  True
 False False  True False  True  True False  True False  True False  True
 False  True  True  True  True  True  True  True  True  True False False
  True  True  True  True  True False False  True  True  True False  True
  True  True  True  True  True  True  True  True  True False  True False
 False False  True  True  True False  True False False  True  True False
  True  True False  True  True  True False  True  True  True  True  True
 False False False  True  True  True  True False  True  True  True False
 False False False  True False  True  True False  True  True False  True
  True  True  True  True False False False  True False  True  True False
 False  True False  True False False  True  True  True False False False
 False False False  True  True  True False False False False False False
 False  True  True  True False False  True False  True  True  True False
  True False False  True False  True  True  True False  True  True  True
  True False  True False  True  True False  True  True False False False
 False  True  True False False  True  True  True False  True  True  True
  True False  True  True  True  True False  True  True False  True  True
 False  True  True  True  True  True  True False  True  True False  True
 False  True  True  True  True False  True False False False  True  True
  True  True  True  True False  True  True  True  True  True False  True
 False False  True  True  True  True  True False  True False False  True
  True False  True  True False  True False  True False False False  True
 False  True False  True False  True False  True  True  True  True  True
 False False False  True False  True  True  True False  True  True  True
  True  True  True  True False  True  True  True False  True  True  True
 False  True  True False  True  True False False  True  True  True False
  True  True  True  True False  True  True  True  True False  True  True
  True False  True  True  True False False  True  True  True  True False
  True False  True  True  True False  True  True  True False  True  True
  True  True  True  True  True  True False  True  True False False  True
  True  True  True  True False  True  True False  True  True False  True
 False False False False  True False False  True False  True  True False
 False False False False  True  True  True  True  True  True  True  True
  True  True  True False  True  True  True False False  True  True  True
  True False  True False  True  True False  True  True  True  True  True
  True  True  True False  True  True  True  True False  True  True False
 False  True False  True False  True False False False  True  True  True
 False  True  True  True  True  True  True  True False False  True  True
  True  True  True False  True False  True  True  True False  True False
  True  True  True  True  True  True  True  True  True False False False
  True False False False  True  True  True  True False  True False  True
  True  True False  True False False False False False  True False False
 False False  True  True  True False False False  True  True  True False
  True  True  True  True False  True  True  True False  True False False
  True  True False False  True  True False  True  True False  True False
 False  True False  True  True  True  True False  True  True  True  True
  True  True  True  True  True  True False False  True  True  True  True
  True  True  True  True False  True  True  True  True  True False  True
 False  True  True  True  True  True  True False  True  True False False
  True False False  True  True False  True  True False  True  True  True
 False False  True  True  True False  True False  True False  True  True
  True False False False False False  True  True  True  True  True  True
  True  True  True  True  True False False  True  True False  True  True
  True False False False False False  True  True  True  True  True False
 False False False  True  True  True  True  True False  True  True  True
 False  True False  True False  True False  True False  True  True  True
  True False False False  True  True False False False False  True False
  True False False  True  True False False False  True  True False  True
 False  True  True  True  True False  True  True  True  True  True False
  True  True  True  True  True False False  True False False  True  True
  True False False False  True  True False  True  True  True False False
  True  True  True  True False  True  True  True  True  True False False
  True  True False False False False  True  True  True  True  True  True
  True False  True False  True  True  True  True False False  True  True
  True  True  True  True  True  True  True  True False False  True False
  True False  True  True False  True False  True  True  True False  True
 False  True  True False  True False  True False  True False False  True
  True  True False False False  True False  True  True  True  True  True
  True  True  True  True  True  True False  True  True  True False False
  True False  True  True False  True  True False False  True  True  True
  True  True  True  True False False  True  True  True False False  True
  True  True False  True  True False  True  True  True False False False
  True  True False False  True  True  True False  True False  True  True
 False False  True  True False  True False False  True  True  True  True
  True False  True False False  True False  True False False False  True
  True  True False False False  True  True False  True  True  True  True
 False False  True False  True False  True  True  True  True  True  True
  True  True  True False  True  True False  True  True  True  True False
 False  True  True False False  True False  True  True  True False False
  True  True  True False  True False False False  True  True  True False
  True False False  True]

Recuerda que “y” cuenta con una sola columna con solamente ceros, unos y dos, corresponden a setosa, versicolor, y virginica respectivamente

## Implementación de Árboles de Decisión Clasificación

Definido “X” y “y” ya podemos realizar la separación correspondiente a los datos de prueba y entrenamiento para ello importamos la respectiva librería y procedemos a utilizar train_test_split para separar los datos.

In [123]:
from sklearn.model_selection import train_test_split

Para la separación de los datos, vamos a tomar un 20% de los mismos para utilizarlos como prueba una vez que hayamos obtenido el modelo.

In [139]:
#Separo los datos de "train" en entrenamiento y prueba para probar los algoritmos
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Seguidamente definimos el algoritmo, entonces decimos desde skelarn.tree importamos DecisionTreeClasiffier. Acá lo que indicamos es que desde el modulo de árboles de skelearn, vamos a importar el algoritmo de árboles de decisión clasificación, recuerda que ese algoritmo también funciona para problemas de regresión.

In [146]:
#Arboles de decisión
from sklearn.tree import DecisionTreeClassifier
algoritmo = DecisionTreeClassifier(criterion='entropy')

Ahora definimos el algoritmo y lo configuramos para crear el modelo y entrenarlo. En este caso el único parámetro que vamos a configurar es el referente a “criterion” que se refiere a la medida de selección. Por defecto este parámetro viene configurado con el índice Gini pero para nuestro ejercicio lo voy a cambiar por “entropy” o entropía en español. Para entender mejor esto te recomiendo que buques la información publicada sobre la librería scikit learn para este algoritmo.

Definido esto ahora entrenamos el algoritmo, utilizando la instrucción fit() junto con los datos de entrenamiento separados previamente.

In [147]:
#Entreno el modelo
algoritmo.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

## Verificación del modelo desarrollado

A llegado el momento de verificar que tan preciso es el modelo desarrollado para ello utilizamos modulo `score` de los Datos de Prueba.

In [151]:
precision= algoritmo.score(X_test, y_test)
print('precision del modelo Datos Prueba:')
print(precision)

precision del modelo Datos Prueba:
0.605

El resultado de este calculo es de 0,966 un valor bastante aceptable.

Con esto podemos concluir que con este algoritmo también podemos obtener muy buenos resultados con este conjunto de datos. Ya queda de tu parte si deseas mejorarlo y ver si es posible obtener algo más preciso, para ello puedes modificar los datos de la configuración del algoritmo, por ejemplo cambiando la medida de selección.

In [152]:
precision2=algoritmo.score(X_train, y_train)
print('Precision del modelo Datos Entrenamientos:')
print(precision2)

Precision del modelo Datos Entrenamientos:
1.0

**eso se llama SOBREAJUSTE**

## Gráficamos nuestro Árbol

Importamos Librerias para graficar

instalar `conda install -c anaconda graphviz`

instalar `conda install -c conda-forge python-graphviz`

In [7]:
from sklearn.tree import export_graphviz
import graphviz
import matplotlib.pyplot as plt

Generamos archivo `.dot` que contiene la grafica

In [12]:
export_graphviz(algoritmo, out_file='arbol.dot', feature_names=X.columns, class_names=[str(c) filled=True, rounded=True, special_characters=True)

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (2525486414.py, line 1)

Creamos la gráfica

## Volvemos a entrenar el modelo con 3 niveles evitando sobreajuste

In [ ]:
#Arboles de decisión

In [ ]:
#Entreno el modelo

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****BIBLIOGRAFÍA****<tfont>

[1] Guía oficial scikit learn https://scikit-learn.org/stable/

[2] Datasets de Scikit Learn: https://scikit-learn.org/stable/datasets/toy_dataset.html

[3] Scikit Learn DecisionTreeClassifier : https://bit.ly/398XAIv

[4] Scikit Learn export_graphviz : https://bit.ly/2ZAbHDt

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)